@page "/"

<Watch />

<style>
    .scroll_ples {
        flex: 1 1 0; /* flex: 1, which you had before, is equivalent but doesn't work */
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        max-height: 72px;
    }
</style>

<div class="scroll_ples">
    <a href="api/PPather/MapRoute?uimap1=1446&x1=51.0&y1=29.3&uimap2=1446&x2=38.7&y2=20.1" target="_blank">Tanaris FP to ZF (API Using Map Coords)</a>
    <a href="api/PPather/MapRoute?uimap1=1451&x1=51.4&y1=37.8&uimap2=1451&x2=29&y2=92" target="_blank">Silithus Inn to AQ (API Using Map Coords)</a>

    <a href="api/PPather/WorldRoute?x1=-896&y1=-3770&z1=11&x2=-441&y2=-2596&z2=96&mapid=1" target="_blank">Kalimdor Search Barrens (API using world Coords)</a>
    <a href="api/PPather/WorldRoute?x1=-6238.128&y1=139.40344&z1=430.9192&x2=-5884.185&y2=-118.66675&z2=364.64783&mapid=0" target="_blank">Azeroth Dun morogh 1 (API using world Coords)</a>
    <a href="api/PPather/WorldRoute?x1=-5609.00&y1=-479.00&z1=397.49&x2=-5884.185&y2=-118.66675&z2=364.64783&mapid=0" target="_blank">Azeroth Dun morogh 2 (API using world Coords)</a>
    
    <a href="api/PPather/WorldRoute2?x1=2293.7908&y1=-6636.0283&z1=120.13607&x2=2309.54&y2=-6666.62&z2=0&uimap=1447" target="_blank">Azshara issue no result (API using world Coords)</a>
    <a href="api/PPather/WorldRoute2?x1=-732.031&y1=2448.2805&z1=58.940506&x2=-755.79004&y2=2491.16&z2=0&uimap=1944" target="_blank">Outland honor hold issue no result (API using world Coords)</a>


    <a href="api/PPather/MapRoute?uimap1=1431&x1=43.097&y1=18.38&uimap2=1431&x2=45.34&y2=16.438" target="_blank">Duskwood issue</a>

    <a href="api/PPather/MapRoute?uimap1=1432&x1=35.2&y1=46.9&uimap2=1432&x2=34.8&y2=48.6" target="_blank">Loch Modan building Yanni Stoutheart</a>
    <a href="api/PPather/MapRoute?uimap1=1432&x1=35.2&y1=46.9&uimap2=1432&x2=35.5&y2=48.5" target="_blank">Loch Modan building innkeeper</a>
    <a href="api/PPather/MapRoute?uimap1=1432&x1=35.2&y1=46.9&uimap2=1432&x2=34.8&y2=49.1" target="_blank">Loch Modan building building Vidra Heartstove</a>

    <a href="api/PPather/MapRoute?uimap1=1426&x1=28.7&y1=70.1&uimap2=1426&x2=28.8&y2=67.9" target="_blank">Dun morogh building Grundel Harkin</a>
    <a href="api/PPather/MapRoute?uimap1=1426&x1=28.8&y1=67.9&uimap2=1426&x2=28.7&y2=70.1" target="_blank">Dun morogh building Grundel Harkin reverse</a>

    <a href="api/PPather/MapRoute?uimap1=1426&x1=33.90&y1=71.86&uimap2=1426&x2=38.94&y2=61.0" target="_blank">Dun morogh Coldrige pass - unable to find</a>

    <a href="api/PPather/MapRoute?uimap1=1426&x1=33.76&y1=71.91&uimap2=1426&x2=39.0&y2=61.13" target="_blank">Dun morogh Coldrige pass</a>

    <a href="api/PPather/MapRoute?uimap1=1943&x1=81.05&y1=45.33&uimap2=1943&x2=78.92&y2=44.14" target="_blank">Ammen Vale</a>

    <a href="api/PPather/MapRoute?uimap1=1425&x1=82.2771&y1=48.698803&uimap2=1425&x2=81.65922&y2=49.87935" target="_blank">Hinterlands 1 water issue</a>
    <a href="api/PPather/MapRoute?uimap1=1425&x1=80.7258&y1=64.2714&uimap2=1425&x2=78.321304&y2=64.0448" target="_blank">Hinterlands 2 water issue</a>

    <a href="api/PPather/MapRoute?uimap1=1447&x1=67.25&y1=82.88&uimap2=1447&x2=66.68&y2=90.23" target="_blank">Azshara 1</a>

    <a href="api/PPather/MapRoute?uimap1=1944&x1=60.0762&y1=43.4372&uimap2=1944&x2=61.1473&y2=39.955284" target="_blank">hellfire 1</a>
    <a href="api/PPather/MapRoute?uimap1=1944&x1=60.0762&y1=43.4372&uimap2=1944&x2=61.14&y2=38.38" target="_blank">hellfire 2</a>

</div>

