@using System.Linq
@using Serilog.Events

@inject ILogger logger

<style>
    .log {
        font-family: "Courier New", Courier, monospace;
        font-size: small;
        padding: 0 0 5px 0 !important;
        padding-right: 10px !important;
    }

    .success {
        color: #28a745;
    }

    .info {
        color: #17a2b8;
    }

    .warning {
        color: #ffc107;
    }

    .danger {
        color: #dc3545;
    }

    .light {
        color: #f8f9fa;
    }
</style>

<div class="col-sm" style="@(MaxHeight > 0 ? $"overflow: auto; max-height: {MaxHeight}px;" : string.Empty)">
    <table class="table table-borderless table-dark" cellspacing="20">
        @for(int i=LoggerSink.Log.Count()-1; i >= 0; i--)
        {
            var evt = LoggerSink.Log.PeekAt(i);
            if (evt == null) continue;
            <tr class="@logLevelColor[evt.Level]">
                <td class="log">@evt.Timestamp.ToString("HH:mm:ss")</td>
                <td class="log">@evt.RenderMessage()</td>
            </tr>
        }
    </table>
</div>

@code {
    [Parameter]
    public int MaxHeight { get; set; } = 400;

    private readonly Dictionary<LogEventLevel, string> logLevelColor = new()
    {
        { LogEventLevel.Verbose, string.Empty },
        { LogEventLevel.Debug, "success" },
        { LogEventLevel.Information, string.Empty },
        { LogEventLevel.Warning, "warning" },
        { LogEventLevel.Error, "danger" },
        { LogEventLevel.Fatal, "danger" },
    };

    protected override void OnInitialized()
    {
        LoggerSink.OnLogChanged += LogChanged;
    }

    public void Dispose()
    {
        LoggerSink.OnLogChanged -= LogChanged;
    }

    private void LogChanged()
    {
        base.InvokeAsync(StateHasChanged);
    }

}