@using MatBlazor
@using System.IO

@inject IBotController botController
@inject IAddonReader addonReader
@inject DataConfig dataConfig

@implements IDisposable

<div class="card @(Hide ? "hide" : "")" style="margin-top: 10px">
    <div class="card-header d-flex justify-content-between align-items-center">
        <label>Path Profile</label>

        <MatAutocompleteList Items="@Files" TItem="string" Label="Path" ValueChanged="OnSelectedPathChanged"
                             ShowClearButton="true" NumberOfElementsInPopup="@VisibleNum" OnTextChanged="OnTextChanged">
            <ItemTemplate>
                <div class="mat-autocomplete-list-popup-element" style="display: flex; width: 100%;">
                    @context
                </div>
            </ItemTemplate>
        </MatAutocompleteList>

        <button class="btn btn-sm btn-primary float-right" @onclick="OnClickButtonLoad" disabled="@(ButtonDisabled)">
            <span>Load Path</span>
        </button>
    </div>
</div>

@code {

    [Parameter]
    public bool Hide { get; set; } = false;

    private IEnumerable<string> Files { get; set; } = null!;

    private int VisibleNum { get; set; } = 10;
    private string Selected { get; set; } = string.Empty;
    private bool ButtonDisabled { get; set; } = true;

    private FileSystemWatcher watcher = null!;

    protected override void OnInitialized()
    {
        GetData();
        ValidateLoadButton();

        watcher = new(dataConfig.Path);

        watcher.NotifyFilter = NotifyFilters.Attributes
            | NotifyFilters.CreationTime
            | NotifyFilters.DirectoryName
            | NotifyFilters.FileName
            | NotifyFilters.LastAccess
            | NotifyFilters.LastWrite
            | NotifyFilters.Security
            | NotifyFilters.Size;

        watcher.Changed += OnChanged;
        watcher.Created += OnChanged;
        watcher.Deleted += OnChanged;
        watcher.Renamed += OnChanged;

        watcher.Filter = "*.json";
        watcher.IncludeSubdirectories = true;
        watcher.EnableRaisingEvents = true;

        botController.ProfileLoaded += ValidateLoadButton;
    }

    public void Dispose()
    {
        watcher.Dispose();
        botController.ProfileLoaded -= ValidateLoadButton;
    }

    public void OnGet()
    {
        GetData();
    }

    private void OnSelectedPathChanged(string pick)
    {
        Selected = pick;
        if (string.IsNullOrEmpty(Selected) || Selected == Files.First())
        {
            Selected = string.Empty;
        }

        ValidateLoadButton();
        base.InvokeAsync(StateHasChanged);
    }

    private void OnTextChanged(string text)
    {
        VisibleNum = string.IsNullOrEmpty(text) ? 10 : 50;
    }

    private void OnChanged(object? sender, FileSystemEventArgs e)
    {
        GetData();
        base.InvokeAsync(StateHasChanged);
    }


    private void OnClickButtonLoad()
    {
        botController.LoadPathProfile(Selected);
    }

    private void ValidateLoadButton()
    {
        ButtonDisabled = string.IsNullOrEmpty(botController.SelectedClassFilename);
    }

    private void GetData()
    {
        Files = botController.PathFiles();
        Selected = botController.SelectedPathFilename ?? string.Empty;
    }
}