@inject WowScreen wowScreen

<div class="@(Stretch ? "w-100 h-auto m-0 p-0" : string.Empty)">
    <div class="row" @onclick="Toggle">
        @if (wowScreen.EnablePostProcess)
        {
            <img class="@(Stretch ? "img-fluid w-100" : string.Empty)" src="data:image/png;base64, @WowScreen.ToBase64(wowScreen.Bitmap, Size)" alt="Toggle preview!" />
        }
        else
        {
            <label class="oi oi-fullscreen-enter">  Toggle preview! </label>
        }
    </div>
</div>

@code {

    [Parameter]
    public int Size { get; set; } = 1024;

    [Parameter]
    public bool Stretch { get; set; } = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            wowScreen.OnScreenChanged += this.ImageChanged;
        }
    }

    public void Dispose()
    {
        wowScreen.OnScreenChanged -= this.ImageChanged;
    }

    protected void Toggle()
    {
        wowScreen.EnablePostProcess = !wowScreen.EnablePostProcess;
    }

    private async void ImageChanged()
    {
        await base.InvokeAsync(StateHasChanged);
    }
}