@page "/Swag"

@inject IBotController botController
@inject IJSRuntime JSRuntime
@inject WApi api

@inject BagReader bagReader
@inject EquipmentReader equipmentReader

@implements IDisposable

<BotHeader ShowActiveGoal="false" />

<div class="card mt-1">
    <div class="card-header">
        Equipments
    </div>
    <div class="card-body">
        <div class="row p-0 m-0">
            @for (int index = 0; index <= (int)InventorySlotId.Bag_3; index++)
            {
                <div class="col">
                    <EquipmentComponent Slot="index"
                                        Item="equipmentReader.Items[index]"
                                        ShowIcon="!botController.IsBotActive" />
                </div>
            }
        </div>
    </div>
</div>

<div class="card mt-1">
    <div class="card-header">
        Bag Contents
        <div class="float-right">
            <Money Value="TotalVendorMoney" />
        </div>
    </div>
    <div class="card-body" style="padding-bottom: 0">
        <table class="table table-sm table-striped table-no-border">
            <thead class="thead-dark">
                <tr>
                    @for (int i = bagReader.Bags.Length - 1; i >= 0; i--)
                    {
                        var bag = bagReader.Bags[i];
                        <th>
                            <ItemComponent Item="bag.Item" />
                        </th>
                    }
                </tr>
            </thead>
            @for (int slot = 0; slot <= bagReader.BagMaxSlot(); slot++)
            {
                <tr>
                    @for (int bag = bagReader.Bags.Length - 1; bag >= 0; bag--)
                    {
                        <td width="20%">
                            @{
                                var bagItem = bagReader.BagItems.FirstOrDefault(Exists);
                                bool Exists(BagItem b) => b.Bag == bag && b.Slot == slot;
                            }
                            @if (bagItem != null)
                            {
                                <ItemComponent Item="bagItem.Item"
                                               Count="bagItem.Count"
                                               LastCount="bagItem.LastCount"
                                               LastChange="bagItem.LastChange"
                                               LastUpdated="bagItem.LastUpdated" />
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

<TalentTreeComponent />

<div id="tooltip" display="none" style="position: absolute; display: none;"></div>

@code {
    private Currency TotalVendorMoney { get; set; } = Currency.Empty;

    protected override void OnInitialized()
    {
        bagReader.DataChanged += OnBagReaderDataChanged;
        equipmentReader.OnEquipmentChanged += OnEquipmentChanged;
    }

    public void Dispose()
    {
        bagReader.DataChanged -= OnBagReaderDataChanged;
        equipmentReader.OnEquipmentChanged -= OnEquipmentChanged;
    }

    public void OnBagReaderDataChanged()
    {
        TotalVendorMoney = ItemPrice.ToSellPrice(bagReader.BagItems.Sum(s => s.Item.SellPrice * s.Count));
        base.InvokeAsync(StateHasChanged);
    }

    public void OnEquipmentChanged(object? s, (int, int) tuple)
    {
        base.InvokeAsync(StateHasChanged);
    }
}