@inject Core.IBotController botController
@inject Core.IAddonReader addonReader
@inject AddonConfigurator addonConfigurator

<button class="btn btn-sm btn-primary" @onclick="InitState">
    <span>Init State</span>
</button>

@code {
    private void InitState()
    {
        addonReader.FullReset();
        botController.ExecGameCommand.Run($"/{addonConfigurator.Config.CommandFlush}");
    }
}