@using Core
@using SharedLib;
@using Game;
@implements IDisposable
@inject Core.IBotController botController
@inject Core.IAddonReader addonReader

<div class="card">
    <div class="card-header">
        <table width="100%">
            <tr>
                <td>
                    Minimap
                    <span style="float: right">
                        <button class="btn btn-sm @(previewEnabled ? "btn-danger" : "btn-primary")" @onclick="TogglePreview">Preview</button>
                        <ToggleButton/>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body" style="padding: 0 0 0 0">
        @if(previewEnabled)
        {
            <img src="data:image/png;base64, @WowScreen.ToBase64(botController.WowScreen.MiniMapBitmap, Size)" alt="Red dot" />
        }
    </div>
</div>

@code {
    [Parameter]
    public int Size { get; set; } = 200;

    [Parameter]
    public EventCallback<bool> OnNodeFound { get; set; }

    private bool lastNodeFound = false;

    private bool previewEnabled = true;

    protected override void OnInitialized()
    {
        if (botController.MinimapImageFinder != null && OnNodeFound.HasDelegate)
        {
            botController.MinimapImageFinder.NodeEvent += NodeFound;
        }
    }

    public void Dispose()
    {
        if (botController.MinimapImageFinder != null && OnNodeFound.HasDelegate)
        {
            botController.MinimapImageFinder.NodeEvent -= NodeFound;
        }
    }

    private void NodeFound(object? source, NodeEventArgs e)
    {
        var nodeFound = e.Point.X > 0 && e.Point.Y > 0;

        if (lastNodeFound != nodeFound)
        {
            base.InvokeAsync(() =>
            {
                OnNodeFound.InvokeAsync(nodeFound);
            });
        }
        lastNodeFound = nodeFound;

        if (previewEnabled)
        {
            base.InvokeAsync(StateHasChanged);
        }
    }

    private void TogglePreview()
    {
        previewEnabled = !previewEnabled;
    }
}